{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <h1>Register</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.duckname) }}
        {{ form_row(registrationForm.Password) }}
        {{ form_rest(registrationForm) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
